.hero-text {
    position: relative;
    color: white
  }
  
  .hero-text-top {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

