/* Carousel design */
.carousel-top {
   height: 250px
 }
 
 .hero-text-carousel {
   position: relative;
   margin-top: -2vh;
 }
 
 #carousel-top-button{
   background-color: white;
   border: none;
   color: black;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
 }

 .text{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }